@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - House Plans</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HousePlans.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-5">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="nav navbar-nav mx-auto flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="h4">Проекти</span>
                            </a>
                            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-light" asp-controller="Plan" asp-action="Residential">Жилищни сгради</a>
                                <div class="dropdown-divider" style="border-color:white;"></div>
                                <a class="dropdown-item text-light" asp-controller="Plan" asp-action="Administrative">Административни сгради</a>
                                <div class="dropdown-divider" style="border-color:white;"></div>
                                <a class="dropdown-item text-light" asp-controller="Plan" asp-action="Industrial">Промишлени сгради</a>
                                <div class="dropdown-divider" style="border-color:white;"></div>
                                <a class="dropdown-item text-light" asp-controller="Plan" asp-action="Typical">Типови проекти</a>
                                <div class="dropdown-divider" style="border-color:white;"></div>
                                <a class="dropdown-item text-light" asp-controller="Plan" asp-action="Execution">Интериорен дизайн</a>
                                <div class="dropdown-divider" style="border-color:white;"></div>
                                <a class="dropdown-item text-light" asp-controller="Plan" asp-action="Execution">Изпълнение</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Information"><span class="h4">Информация</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact"><span class="h4">Контакти</span></a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (this.User.IsInRole(GlobalConstant.AdministratorRoleName))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Administration" asp-controller="Plan" asp-action="All"><span class="h4">@GlobalConstant.AdministratorRoleName</span></a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav pull-left flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-home fa-fw fa-2x" aria-hidden="true"></i>
                                <span class="h4">
                                    House Plan
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                        <div class="card bg-secondary border-0">
                            <div class="card-body text-light text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">House Plans</h5>
                                <p class="d-inline lead">
                                    House plans © 2022<br>
                                    <a href="#" class="text-light d-block lead">Blog</a>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                        <div class="card bg-secondary border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">Контакти</h5>
                                <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-4"></i> +359897025221</a>
                                <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-4"></i> admin@admin.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                        <div class="card bg-secondary border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">Social Media</h5>

                                <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>

                                <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>

                                <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>

                                <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
