@using HousePlans.Models.Plan

@model IEnumerable<PlanAllViewModel>


<div class="file_manager text-center mb-5">
    <div class="container d-flex justify-content-center">
        <div class="row clearfix">
            <partial name="_CardListPartial" model="@Model"/>
        </div>
    </div>
</div>