@{
    ViewData["Title"] = "Изпълнение";
}

<div class="file_manager text-center mb-5">
    <div class="mb-5 form">
        <h1 class="mt-5 mb-5">Административни сгради</h1>
        <h4>
            Предлагаме цялостно изпълнение на изготвените от нас проекти.
        </h4>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row clearfix">
        </div>
    </div>
</div>