@using HousePlans.Models.Plan

@model IEnumerable<PlanAllViewModel>

@{
    ViewData["Title"] = "Типови проекти";
}

<div class="file_manager text-center mb-5">
    <div class="mb-5 form">
        <h1 class="mt-5 mb-5">Типови проекти</h1>
        <h4>
            Подбрани проекти готови да предоставят комфорт и функционалност на своите обитатели.
        </h4>
        <h4>
            Типовите къщи са бюджетни и функционални проекти
        </h4>
        <div class="mb-5">
            <p>
                <a asp-controller="Home" asp-action="Contact">
                    За повече информация се свържете с нас
                </a>
            </p>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row clearfix">
            <partial name="_CardListPartial" model="@Model" />
        </div>
    </div>
</div>