@using HousePlans.Models.Plan

@model IEnumerable<PlanAllViewModel>

<div class="file_manager text-center mb-5">
    <div class="mb-5 form">
        <h1 class="mt-5 mb-5">Типови проекти</h1>
        <h4>
            Предлагаме цялостно проектиране и изпълнение на стомано бетонни, дървени и метални жилищни сгради.
        </h4>
        <h4>
            Можем да предложим пълно съдействие при съгласуване на проектите.
        </h4>
        <h4>
            От проектиране до нанасяне във вашият нов дом.
        </h4>
        <div class="mb-5">
            <p>
                <a asp-controller="Home" asp-action="Contact">
                   Свържете се с нас
                </a>
            </p>
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row clearfix">
           <partial name="_CardListPartial" model="@Model" />
        </div>
    </div>
</div>