
@{
    ViewData["Title"] = "Информация";
}

<div class="file_manager mb-5">
    <div class="mb-5 form text-center">
        <h1 class="mt-5 mb-5">Изходни данни и документи необходими от клиента:</h1>
        <div>
            <h4 >
                <b>1.</b> Документи за собственост на терена /парцела/;
            </h4>
            <h4>
                <b>2.</b> Скица с виза за проектиране или извадка от действащ подробен устройствен план указваща начина на застрояване. (Издава се от общинската администрация след попълване на заявление по образец и представяне на документ за собственост);
            </h4>
            <h4>
                <b>3.</b> Становища и данни от експлоатационните дружества – ВиК, Енерго… (Издават се от съответното дружество след попълване на заявление по образец, документ за собственост и виза за проектиране);
            </h4>
            <h4>
                <b>4.</b> Геодезическо заснемане на терена;
            </h4>
            <h4>
                <b>5.</b> Геоложки и хидроложки проучвания на терена.
            </h4>
        </div>
    </div>
    <div class="file_manager text-center mb-5">
        <div class="mb-5 form">
            <h1 class="mt-5 mb-5">Какво включват проектите?</h1>
            <div>
                <h3> В проекта е включено:</h3>
                <h4>
                    <b>1.</b> Проект Архитектура
                </h4>
                <h4>
                    <b>2.</b> Проект Строителни Конструкции
                </h4>
                <h4>
                    <b>3.</b> Технически контрол по част Строителни Конструкции
                </h4>
                <h4>
                    <b>4.</b> Проект Водоснабдяване и Канализация
                </h4>
                <h4>
                    <b>5.</b> Проект Електроинсталации
                </h4>
                <h4>
                    <b>6.</b> Проект Отопление, Вентилация и Климатизация
                </h4>
            </div>
        </div>
        <div class="file_manager text-center mb-5">
            <div class="mb-5 form">
                <h1 class="mt-5 mb-5">Промени в проектите</h1>
                <div>
                    <h4>
                        Всеки един проект подлежи на промени, ако неговите размери и разпределения не са достатъчно продуктивни за клиента. Ние можем да променим и да ви предоставим проект по вашите изисквания. След като обсъдим промените по него и уточним всички детайли, в зависимост от обема на промените, ще можем да определим и изкоментираметяхната цена.
                    </h4>
                    <h4>
                    </h4>
                    <h3><b>Цените за промените по проектите зависят от тяхната сложност и обем, и могат да бъдат посочени индивидуално.</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>