
@{
    ViewData["Title"] = "Цени";
}

<div class="file_manager text-center mb-5">
    <div class="mb-5 form">
        <h1 class="mt-5 mb-5">Цени на услуги</h1>
        <h4>
            Типов проект с включени всички части 30лв/м2
        </h4>
        <h4>
            Жилищни еднофамилни къщи 8-15 лв/м2
        </h4>

        <h4>
            Промишлено производствени халета и складове – 5 лв/м2
        </h4>
        <h4>
            Изготвяне на архитектурни детайли на фаза работен проект – 1лв/м2
        </h4>
        <h4>
            Жилищни многофамилни, обществени и смесени търговски сгради - индивидуална цена според обекта
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Интериорен проект
        </h2>
        <h4>
            Интериорен проект за жилищни и обществени зони – 45лв/м2
        </h4>
        <h4>
            Минимална цена – 3000лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Архитектурно заснемане
        </h2>
        <h4>
            Архитектурно заснемане за определяне на площ (само планове) – от 1лв/м2
        </h4>
        <h4>
            Подробно Архитектурно заснемане (планове, фасади, разрези, план покрив и др.) – от 2лв/м2
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Конструктивен проект
        </h2>
        <h4>
            Стоманобетонни конструкции – 6-8лв/м2
        </h4>
        <h4>
            Стоманени и дървени конструкции 6-8лв/м2
        </h4>
        <h4>
            Конструктивно становище – от 250лв
        </h4>
        <h4>
            Конструктивно становище се изготвя при проекти за преустройства, огради, остъкляване на балкон, проекти за фирмени надписи и други. В цената към проектирането и конструктивното становище е включен и технически контрол.
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Електро проект
        </h2>
        <h4>
            Жилищни и обществени сгради – 2лв/м2
        </h4>
        <h4>
            Проект за пожароизвестяване – 0,6лв/м2
        </h4>
        <h4>
            Проект за сигнално охранителна техника – 0,5лв/м2
        </h4>
        <h4>
            Минимална цена  – 250лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            ВиК проект
        </h2>
        <h4>
            Жилищни и обществени сгради – 1,8лв/м2
        </h4>
        <h4>
            Проект за автоматично пожарогасене – 1лв/м2
        </h4>
        <h4>
            Минимална цена – 250лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            ОВК проект (отопление, вентилация и климатизация)
        </h2>
        <h4>
            Жилищни и обществени сгради – 2лв/м2
        </h4>
        <h4>
            Минимална цена – 200лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Проект ПБ (пожарна безопасност)
        </h2>
        <h4>
            Жилищни и обществени сгради – 0,5-1лв/м2
        </h4>
        <h4>
            Минимална цена – 250лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Проект ПБЗ (план за безопасност и здраве)
        </h2>
        <h4>
            Жилищни и обществени сгради – 300лв
        </h4>
        <h4>
            Преустройства, фирмени надписи и реклами – 150лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Проект енергийна ефективност
        </h2>
        <h4>
            Жилищни и обществени сгради – 1лв/м2
        </h4>
        <h4>
            Минимална цена – 250лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Доклад оценка на енергийна ефективност
        </h2>
        <h4>
            Жилищни и обществени сгради – 0,5лв/м2
        </h4>
        <h4>
            Минимална цена – 150лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Проект част геодезия – вертикална планировка и трасировъчен план
        </h2>
        <h4>
            Минимална цена 300лв
        </h4>
    </div>
    <div class="mb-5 form">
        <h2>
            Проект технология – индивидуална цена според обекта.
        </h2>
    </div>
</div>
